{%extends './base.html'%}

{%block title%}
{%load static%}
Online Shop Wildan
{%endblock%}

{%block content%}
<div class="blog-content">
    <div class="container">
        <div class="row" style="margin-bottom: 1rem;">
            <div class="col-12" style="justify-content: center; display: flex;">
                <a href="{%url 'tambah'%}">
                    <button class="btn btn-primary"><strong>Tambah Barang Baru</strong></button>
                </a>
            </div>
        </div>
        <div class="row align-items-center">
            {%for item in barang%}
            <div class="col-4">
                <div class="posts">
                    <img src="{{item.gambar}}"/>
                    <h5><strong>{{item.nama_barang}}</strong></h5>
                    <p>Rp. {{item.harga}}</p>
                    <a href="{%url 'detail_barang' item.id%}" class="baca">
                        <button class="btn btn-primary"><strong>Lihat Detail</strong></button>
                    </a>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
</div>
{%endblock%}